.chart {
  background: transparent;
  padding: 10px;

  .no-chart{
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .is-chart {
    padding: 10px 10px;
  }
}